*{
	box-sizing:border-box;
}

body {
	font-family:Helvetica, Arial, sans-serif;
}

h1 {
	text-align:center;
	font-size: 1.75em;
}

.container-fluid {
	margin-left: -10px;
	margin-right: -10px;
}

.section {
	background-color: #999;
	border: 1px solid black;
	margin: 10px;
}

.title {
	position: relative;
	float: right;
	width: 150px;
	padding: 5px 0 5px 0;
	border: 1px solid #000;
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
}

h2 {
	padding:none;
}

.pink {
	background-color: #D59898;
}

.yellow {
	background-color: #E5D198;
}

.red {
	background-color: #C14543;
	color: #FFF;
}

p {
	padding: 5px;
}